@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

    ---c1 : hsl(27, 75%, 85%);
    ---c2 : hsl(19, 83%, 73%);
    ---c3 : hsla(19, 39%, 77%, 0.9);
    ---c4 : rgb(41, 31, 21);
    ---c5 : rgb(78, 51, 26);
    ---c6 : rgb(98, 51, 26);
    
}